# Admin Secret Key (change this for production)
ADMIN_SECRET=admin123

# Interview Slot Configuration
START_HOUR=9
END_HOUR=24
SLOT_DURATION_MINUTES=60
BREAK_DURATION_MINUTES=15

# Number of days to show (starting from today)
BOOKING_DAYS=3

# Application Info
NEXT_PUBLIC_APP_URL=http://localhost:3000

# MongoDB Configuration
# Get this from MongoDB Atlas dashboard
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0"
